---
import { getCollection } from "astro:content";

import WritingsPostItem from "~/components/writings/writings-item.astro";

const posts = (await getCollection("writings")).sort(
  (a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime(),
);
---

<section aria-label="Writing log" class="py-4">
  <ul role="list" class="list-none m-0 p-0 space-y-2">
    {posts.map((post) => <WritingsPostItem post={post} />)}
  </ul>
</section>
