---
import { getCollection } from "astro:content";

import WritingsPostItem from "~/components/writings/writings-item.astro";

const posts = (await getCollection("writings"))
	.filter((post) => !post.data.draft)
	.sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime());
---

<section aria-label="Writing log" hidden={posts.length === 0}>
  <h3>Writing Log</h3>
  <ul role="list" class="list-none m-0 p-0 space-y-4 not-prose">
    {posts.map((post) => <WritingsPostItem post={post} />)}
  </ul>
</section>
