---
import Splash from '~/layouts/splash.astro';
import Profile from '~/components/profile.astro';
import Button from '~/components/ui/button.astro';
import { meta } from '~/config';
---

<Splash title={meta.title} description={meta.description}>
    <Profile
      name="Torben Haack"
      handle="t128n"
      avatar="/t128n.png"
      class="mb-2"
    />
    <p>
        <abbr title="Technical Product Owner">TPO</abbr> and <abbr title="Software Engineer">SE</abbr> in the automotive industry by day, FOSS & tech enthusiast by night.
        Developing and managing data and software systems. Part-time studying Business Informatics at <a class='text-primary font-medium hover:underline' href="https://www.bht-berlin.de/en/" target="_blank">BHT Berlin</a>.
    </p>
    <p>
        Sometimes I also <a href="/writing/" class='text-primary font-medium hover:underline'>write about stuff</a>.
    </p>
    <p>
        Connect with me on...
        <ul class="flex flex-wrap items-center gap-2">
          <li>
            <Button href="/go/bsky" target="_blank" icon="i-simple-icons:bluesky">
              Bluesky
            </Button>
          </li>
          <li>
            <Button href="/go/gh" target="_blank" icon="i-simple-icons:github">
              GitHub
            </Button>
          </li>
          <li>
            <Button href="/go/linkedin" target="_blank" icon="i-simple-icons:linkedin">
              LinkedIn
            </Button>
          </li>
          <li>
            <Button variant="ghost" href='/verify'>and elsewhere.</Button>
          </li>
        </ul>
    </p>
</Splash>
