---
import Root from './root.astro';
import type { Props as RootProps } from './root.astro';

import AppHeader from '~/components/app-header.astro';
import AppFooter from '~/components/app-footer.astro';
import AppContainer from '~/components/app-container.astro';

interface Props extends RootProps {}
---

<Root {...Astro.props}>
	<AppHeader>
		<slot name="header" />
	</AppHeader>
	<AppContainer>
		<div slot="bleed">
		    <slot name="bleed" />
			<div class="px-8 py-8 flex flex-col gap-3">
				<h2 class="text-3xl">{Astro.props.title}</h2>
				<p>{Astro.props.description}</p>
			</div>
		</div>
		<slot />
	</AppContainer>
    <AppFooter>
        <slot name="header" />
    </AppFooter>
</Root>
