---
import Root from './root.astro';
import type { Props as RootProps } from './root.astro';

import AppHeader from '~/components/app-header.astro';
import AppFooter from '~/components/app-footer.astro';

interface Props extends RootProps {
    showHeading?: boolean;
}

const { showHeading: _showHeading = true } = Astro.props;


const showHeading = _showHeading && (Astro.props.title || Astro.props.description );
---

<Root {...Astro.props}>
	<AppHeader>
		<slot name="header" />
	</AppHeader>
	<main class="grow flex flex-col px-8 py-8 gap-8 max-w-[50rem]">
		<slot name="bleed" />
		{showHeading && (
			<div class="flex flex-col gap-3">
				{Astro.props.title && <h2 class="text-3xl">{Astro.props.title}</h2>}
				{Astro.props.description && <p>{Astro.props.description}</p>}
			</div>
		)}
		<slot />
	</main>
    <AppFooter>
        <slot name="header" />
    </AppFooter>
</Root>
