---
import "@fontsource-variable/baskervville";
import "@fontsource-variable/inter";

import "~/styles/global.css";

import { SEO } from "astro-seo";

import AppHeader from "~/components/app-header.astro";
import Prose from "~/components/prose.astro";

interface RootLayoutProps {
    minimal?: boolean;
    frontmatter?: Record<string, unknown>;
}

const defaultFrontmatter = {
    title: "Torben Haack",
    description:
        "Software Engineer at a large automotive company. I build data and software systems. Part-time studying Information Systems at the Berliner Hochschule für Technik.",
} as const;

const { minimal = false, frontmatter = {} } = Astro.props as RootLayoutProps;

const mergedFrontmatter = { ...defaultFrontmatter, ...frontmatter };
---

<html lang="en">
    <head>
        <SEO
            title={`${mergedFrontmatter.title} / t128n.dev`}
            description={mergedFrontmatter.description}
            canonical={`${Astro.site}${Astro.url.pathname.length > 1 ? Astro.url.pathname : ""}`}
            charset="utf-8"
            extend={{
                link: [
                    {
                        rel: "icon",
                        type: "image/svg+xml",
                        href: "/favicon.svg",
                    },
                ],
                meta: [
                    { name: "author", content: "Torben Haack" },
                    { name: "viewport", content: "width=device-width" },
                    { name: "generator", content: Astro.generator },
                ],
            }}
        />
    </head>
    <body
        class="bg-paper text-ink dark:bg-ink dark:text-paper w-full h-dvh flex flex-col font-sans"
    >
        <AppHeader minimal={minimal} />
        <main class="flex flex-col flex-grow container">
            <Prose>
                <slot />
            </Prose>
        </main>
    </body>
</html>
